---
import Icon from "../components/Icon.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";

import "iconify-icon";
---

<Layout title="The Open Dictionary">
  <Navigation absolute={true} showHome={false} bordered={false} />
  <div class="w-full h-full flex">
    <div
      class="m-auto text-center justify-center items-center flex flex-col gap-4"
    >
      <Icon class="w-20 h-20 mb-8" />
      <h1
        class="font-display uppercase tracking-wide font-bold text-6xl text-slate-700"
      >
        The Open Dictionary
      </h1>
      <p class="text-slate-500 text-lg mb-8">
        A blazingly-fast, portable dictionary file format for everyone 🚀
      </p>
      <div class="flex gap-12 flex-row justify-center items-center">
        <a
          href="https://github.com/TheOpenDictionary/odict"
          target="_blank"
          rel="noreferrer"
          class="flex flex-row justify-center items-center gap-2 text-slate-500"
        >
          <iconify-icon icon="mdi:github" width="1.5rem"></iconify-icon>
          View on GitHub
        </a>
        <a href="/docs/" class="btn">
          Read the docs
          <iconify-icon icon="mdi:arrow-right" width="1.25rem"></iconify-icon>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style lang="postcss">
  .btn {
    @apply rounded-full text-white py-3 shadow-lg bg-gradient-to-b from-blue-light to-blue-dark;
    @apply relative transition-all duration-300 px-8 transform-gpu;
    @apply flex flex-row justify-center items-center gap-3 pl-10;
  
    &:active {
      @apply scale-[0.99] opacity-90;
    }

    &:before {
      @apply absolute inset-[2px] bg-gradient-to-b from-white to-transparent rounded-full blur-none opacity-20 blur-sm;
      content: "";
    }
  }
</style>
