---
import type { MarkdownInstance } from "astro";
import { getSlug } from "../utils/getSlug";
import type { CollectionEntry } from "astro:content";

export interface Props {
  docs: CollectionEntry<"docs">[];
}

const { docs } = Astro.props;
---

<ul class="doc-list">
  {
    docs
      .filter((doc) => doc.slug.indexOf("/") > -1)
      .map((doc) => (
        <>
          <li>
            <a
              class:list={[
                { active: Astro.url.pathname.endsWith(doc.slug + "/") },
              ]}
              href={`/docs/${doc.slug}/`}
            >
              {doc.data.title}
            </a>
          </li>
        </>
      ))
  }
</ul>

<style lang="postcss"> 
  ul.doc-list {
    li {
      @apply py-4;
     
      a:hover {
        @apply hover:text-primary;
      }

      a.active {
        @apply text-primary;
      }
    }
  }
</style>
