---
import Icon from "astro-iconify";

import BrandIcon from "./Icon.astro";

export interface Props {
  absolute?: boolean;
  bordered?: boolean;
  showHome?: boolean;
}

const { absolute = false, showHome = true, bordered = true } = Astro.props;

const pathname = Astro.url.pathname;
---

<nav class="navigation" class:list={[{ absolute, bordered }]}>
  {
    showHome && (
      <a href="/">
        <BrandIcon class="w-8 h-8" />
      </a>
    )
  }

  <ul
    class="flex flex-row justify-end flex-grow items-center gap-8 text-slate-500 relative top-0 left-0 right-0"
  >
    <li>
      <a class:list={[{ active: pathname.startsWith("/docs") }]} href="/docs/">
        Docs
      </a>
    </li>
    <li>
      <a
        class="flex flex-row gap-2 items-center"
        href="https://github.com/TheOpenDictionary/odict"
      >
        GitHub <Icon width={16} height={16} pack="mdi" name="open-in-new" />
      </a>
    </li>
  </ul>
</nav>

<style lang="postcss"> 
  .navigation {
    @apply w-full h-16 p-4 flex flex-row justify-between items-center;

    &.bordered {
      @apply border-b border-slate-100; 
    }

    a.active, a:hover {
      @apply text-primary;
    }
  }
</style>
