---
import { group, title } from "radash";
import { basename, dirname } from "node:path";

import Layout from "./Layout.astro";
import DocList from "../components/DocList.astro";
import Navigation from "../components/Navigation.astro";
import { getCollection } from "astro:content";

const docs = await getCollection("docs");
const groupedDocs = group(docs, (doc) => doc.slug.split("/")[0]);
---

<Layout title="Docs | The Open Dictionary">
  <div class="flex flex-col h-full">
    <Navigation />
    <div class="flex flex-row flex-grow">
      <aside class="sidebar">
        {
          Object.entries(groupedDocs).map(([parent, docs]) => (
            <section>
              <h4>
                <a
                  class:list={[
                    "hover:text-primary",
                    {
                      active: Astro.url.pathname === `/docs/${parent}/`,
                    },
                  ]}
                  href={`/docs/${parent}/`}
                >
                  {title(parent)}
                </a>
              </h4>
              <DocList docs={docs ?? []} />
            </section>
          ))
        }
      </aside>
      <article
        class="content relative prose-h1:border-b prose-h1:border-slate-100 prose-h1:pb-4 prose prose-base prose-h1:font-bold prose-h1:mb-2 prose-headings:font-display max-w-none"
      >
        <div class="absolute w-full p-8 min-h-0">
          <slot />
        </div>
      </article>
    </div>
  </div>
</Layout>

<style lang="postcss"> 
  article.content {
    @apply flex-grow overflow-scroll h-full;
  }

  a.active {
    @apply text-primary;
  }
  
  .sidebar {
    @apply w-[300px] border-r border-slate-100 flex-shrink-0;
    @apply text-slate-600 font-sans p-4 text-base overflow-scroll;

    h4 {
      @apply text-slate-500 text-sm font-bold tracking-widest uppercase py-4;
    }

    li {
      @apply py-4 font-display;
    }

    section {
      @apply px-4;
    
      h4 {
        @apply -mx-4;
      }
    }
  }
</style>
