---
import { group, title } from "radash";
import { basename, dirname } from "node:path";

import Layout from "./Layout.astro";
import DocList from "../components/DocList.astro";
import Navigation from "../components/Navigation.astro";
import { getCollection } from "astro:content";

const docs = await getCollection("docs");
const groupedDocs = group(docs, (doc) => doc.slug.split("/")[0]);
const sectionOrder = ["introduction", "cli", "sdks", "xml"];
---

<Layout title="Docs | The Open Dictionary">
  <div class="flex flex-col h-full">
    <Navigation />
    <div class="flex flex-row flex-grow">
      <aside class="sidebar">
        <div class="absolute min-h-0 flex flex-col gap-8 pt-8">
          {
            sectionOrder.map((parent) => (
              <section>
                <h4>
                  <a
                    class:list={[
                      "font-display",
                      "text-medium",
                      "hover:text-primary",
                      {
                        active: new RegExp(`/docs/${parent}/?$`).test(
                          Astro.url.pathname
                        ),
                      },
                    ]}
                    href={`/docs/${parent}`}
                  >
                    {title(parent)}
                  </a>
                </h4>
                <DocList docs={groupedDocs[parent] ?? []} />
              </section>
            ))
          }
        </div>
      </aside>
      <article
        class:list={[
          "content",
          "prose-a:no-underline",
          "prose-table:text-base",
          "prose-td:py-4",
          "prose-base",
          "prose-code:after:content-none",
          "prose-code:before:content-none",
          "prose-code:font-normal",
          "prose-code:text-sm",
          "prose-headings:text-slate-900",
          "prose-h1:border-b",
          "prose-h1:border-slate-100",
          "prose-a:text-primary",
          "prose-h1:font-bold",
          "prose-h1:pb-4",
          "prose-headings:font-display",
          "prose",
        ]}
      >
        <div class="absolute w-full p-8 min-h-0">
          <slot />
        </div>
      </article>
    </div>
  </div>
</Layout>

<style lang="postcss" is:global>
  .prose {
    h1, h2, h3, h4, h5, h6 {
      a {
        @apply text-slate-800; 
      }
    }

    aside {
      @apply bg-slate-100 px-4 py-4 rounded-md;

      h3 {
        @apply text-xs uppercase font-display tracking-widest p-0 m-0 mb-2;

        a {
          @apply text-slate-500 font-bold;
        }
      }

      p {
        @apply m-0;
      }
    }
  }
</style>

<style lang="postcss"> 
  article.content {
    @apply flex-grow overflow-scroll h-full max-w-none relative;

    ::global(a) {
      @apply hover:underline;
    }
  }

  a.active {
    @apply text-primary;
  }
  
  .sidebar {
    @apply w-[300px] border-r border-slate-100 flex-shrink-0 relative;
    @apply text-slate-600 font-sans p-4 text-base overflow-scroll;

    h4 {
      @apply text-slate-500 text-sm font-bold tracking-widest uppercase mb-4;
    }

    li {
      @apply py-4 font-display;
    }

    section {
      @apply px-4;
    
      h4 {
        @apply -mx-4;
      }
    }
  }
</style>
